
@import url("https://fonts.googleapis.com/css2?family=Squada+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}
#canvas{
  height: 600px;
  margin-top: 100px;
  margin-left: 680px;
  margin-right: 0px;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-roboto-mono: "Roboto Mono";
  --font-roboto-flex: "Roboto Flex";
  --font-squada-one: "Squada One";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --white: #fff;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-13xl: 32px;
}
